.BGC1 {
  background-color: #000000;
  color: #FAFAFA;
}
.BGC1 h3 {
  text-align: center;
}
.pageWrapper {
  background: #111111;
  width: 960px;
  height: 100%;
  font-family: 'Merriweather', serif;
  position: center;
  margin: auto;
}
.contentWrapper {
  padding: 0 20px;
}
.logo {
  background: url("../img/logo.png") no-repeat;
  height: 53px;
  width: 391px;
  float: left;
  padding-bottom: 20px;
}
.quote--bar {
  padding-top: 20px;
  background: #111111;
  display: inline-block;
}
.quote--bar .quote {
  width: 65%;
  float: left;
  font-size: 24px;
  color: #c9c9c9;
}
.socialImageContainer {
  float: right;
}
.socialImageContainer .logos {
  margin: 20px 0;
  width: 51px;
  height: 51px;
  float: right;
}
.socialImageContainer ul {
  list-style: none;
}
.socialImageContainer li {
  display: inline-block;
}
.socialImageContainer .twitterLogo {
  background: url("../img//logos/Twitter.png") no-repeat;
}
.socialImageContainer .twitterLogo:hover {
  background-image: url("../img//logos/color/TwitterHover.png");
}
.socialImageContainer .instagramLogo {
  background: url("../img//logos/Instagram.png") no-repeat;
}
.socialImageContainer .instagramLogo:hover {
  background-image: url("../img//logos/color/Instagram.png");
}
.socialImageContainer .facebookLogo {
  background: url("../img//logos/Facebook.png") no-repeat;
}
.socialImageContainer .facebookLogo:hover {
  background-image: url("../img//logos/color/Facebook.png");
}
.socialImageContainer .tumblrLogo {
  background: url("../img//logos/Tumblr.png") no-repeat;
}
.socialImageContainer .tumblrLogo:hover {
  background-image: url("../img//logos/color/Tumblr.png");
}
.socialImageContainer .linkedInLogo {
  background: url("../img//logos/Linkedin.png") no-repeat;
}
.socialImageContainer .linkedInLogo:hover {
  background-image: url("../img//logos/color/Linkedin.png");
}
.main--pic {
  background: url("../img/mainPic.jpg") no-repeat;
  height: 360px;
}
#searchId {
  text-align: right;
}
.search--menu {
  margin-right: 15px;
  float: right;
  color: black;
  border: 1px #c9c9c9;
  border-radius: 10px;
  padding-left: 20px;
}
.search--menu input:focus {
  outline: none;
}
.mainArticles {
  background: #F9F9F9;
  width: 70%;
  height: 100%;
  float: left;
  color: #000000;
}
.mainArticles .article {
  margin: 25px 25px;
}
.mainArticles .article .articleText {
  margin-left: 30%;
}
.mainArticles .article .articleContent {
  font-size: 12px;
}
.mainArticles .article .articleHeadLine {
  font-size: 16px;
  font-weight: bold;
}
.mainArticles .article .articleDate {
  font-size: 10px;
  color: #66acff;
}
.mainArticles .article img {
  width: 150px;
  height: 150px;
  float: left;
  border: solid 5px #e0e5eb;
  display: block;
}
.mainArticles .article button {
  margin: 10px 10px;
  width: 100px;
  font-size: 10px;
}
.mainArticles hr {
  border: solid 1px #e0e5eb;
}
.paginationDiv {
  background: #F9F9F9;
  width: 100%;
  float: left;
}
.paginationDiv .pagination {
  margin-left: 30px;
}
.paginationDiv .pagination ul li {
  margin-right: 1em;
  margin-left: 10px;
  display: inline-block;
}
.quickMenu {
  background: #CCCCCC;
  width: 30%;
  float: right;
  color: #000000;
}
.quickMenu .qmHeadLine {
  margin: 20px 20px;
  font-size: 16px;
  font-weight: bold;
}
.quickMenu .qmContent {
  margin: 0 20px;
  font-size: 12px;
}
.quickMenu .qmContent .finalEntry {
  margin-bottom: 177px;
}
.quickMenu .qmLink {
  font-size: 10px;
  margin: 0 20px;
  color: #66acff;
}
.bottomInfo {
  background: #111111;
}
.bottomInfo .aboutNBC {
  padding: 20px;
  float: left;
  width: 34%;
}
.bottomInfo .flickrStream {
  padding: 20px;
  width: 32%;
  display: inline-block;
}
.bottomInfo .contact {
  padding: 20px;
  width: 34%;
  float: right;
}
.BGC2 {
  background-color: #111111;
  color: #FAFAFA;
}
.BGC2 .nav--menu {
  align-content: left;
}
.BGC2 .nav--menu ul {
  list-style: none;
}
.BGC2 .nav--menu li {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}
.BGC2 .nav--menu li a {
  color: #c9c9c9;
}
.BGC2 .nav--menu li a:hover {
  color: #fff;
  text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;
  text-decoration: none;
}
.BGC3 {
  background-color: #000000;
  color: #FAFAFA;
}
